body {
	padding : 0;
	margin : 0;
	font : 1em/1.5 'Georgia',serif;
	background : #eee;
	color : #444;
}

#hero {
	position : relative;
	overflow : hidden;
	margin-top : 90px;
}

#hero img {
	position : absolute;
	top : 0;
	left : 0;
}

h1 {
	font-weight : normal;
	font-size : 180px;
	margin : 300px 1ex 0 1ex;
	padding : 1ex;
	min-width : fit-content;
	color : #fff;
	background : #02aaa2;
	text-align : center;
	line-height : 1;
	text-box-trim : trim-both;
	text-box-edge : ex alphabetic;
}
